html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
}

* {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#red-dashboard {
	background-color: #f8f9fa;
}

#dashboard-stats {
	background-color: #2b3e4b;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
}

#links-table {
	margin-top: 25px;
}

#forward-logo img {
	width: 100%;
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#home-footer {
	position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: #eee;
    font-size: 10px;
    font-weight: 200;
}

#forward-navbar-logo {
	display: flex;
	align-items: center;
}
#forward-navbar-logo img {
	width: 100%;
    max-width: 110px;
}

#github {
	display: flex;
	color: #fff;
    justify-content: center;
    align-items: center;
	font-weight: 200;
    font-size: 15px;
}

#github svg {
	margin-right: 10px;
} 

#github p {
	margin: 0;
}

#red-home, #red-login {
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

#home-bg img, #login-bg img {
	position: fixed;
    width: 100%;
    min-height: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

#home-card h1, #login-card h1 {
	font-size: 20px;
	font-weight: 700;
}

#home-card .card, #login-card .card, #add-new-card .card {
	min-width: 100%;
	border: none !important;
}

#home-card a, #login-card button, #add-new-card button {
	border-radius: 0 !important;
	border-bottom-right-radius: .25rem !important;
	border-bottom-left-radius: .25rem !important;
}

#red-about {
	margin-top: 15px;
}

#github-about a {
	display: flex;
	align-items: center;
	color: #000;
}

#github-about svg {
	margin-right: 10px;
}

#github-about p {
	margin: 0;
}

.stats-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.stats-header svg {
	width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px;
    fill: #fff;
	margin-right: 15px;
}

.stats-header h1 {
	font-size: 20px;
	margin: 0;
}

.stats-header p {
	margin: 0;
	opacity: .55;
	font-size: 11px;
}

.navbar-right {
	justify-content: flex-end;
}

.col-no-gutters {
	padding-left: 0 !important;
	padding-right: 0 !important;
}